body {
  background: linear-gradient(98deg, #00cccc 15%, #99ff99);
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

  .sega {
    font-family: 'SEGA LOGO FONT';
  }